/* .absolute{
    width: 200px;
    height: 200px;
    background-color: blue;
    position: absolute;
    top: ;
    bottom: ;
    right: 0;
}
.relative{
    width: 200px;
    height: 200px;
    background-color: red;
    position: relative; 
    top: 20px; 
    right: 130px;
    left: 20px;
}

.fixed{
    width: 200px;
    height: 200px;
    background-color: green;
    position: fixed;
    top: 20px;
    right: 20px;
}

body{
    height: 2000px;
}

.sticky{
    width: 200px;
    height: 200px;
    background-color: yellow;
    position: sticky;
    top: 50px;
}

.static{
    width: 200px;
    height: 200px;
    background-color: purple;
    position: static;
    top: 100px;
    left: 30px;
} */

/* display-properties  */


.color{
    width: 100px;
    height: 50px;
}

.red{
    background-color: red;
    display: inline;
}
.orange{
    background-color: orange;
    display: inline;
}
.green{
    background-color: green;
    display: inline-block;
}
.blue{
    background-color: blue;
    display: none;
}
.violet{
    background-color: violet;
}
.black{
    background-color: black;
}